<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Zooty</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  </head>
  <body>
    <header>
      <nav>
        <a href="#"><img src="#" alt="Zooty logo"></a>
        <ul>
          <li><a href="#">Photo Feed</a></li>
          <li><a href="#">My Profile</a></li> <!-- Not sure what "My Profile" page would look like, maybe just your uploaded photos? Depends on what functionality you want to build-->
          <li><a href="#">Upload</a></li>
          <li><a href="#">About</a></li>
        </ul>
        <ul>
          <li><a href="#">Sign up</a></li>
          <li><a href="#">Log in</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Upload your photo</h1>
      <form>
        <button>Upload file</button><!-- Not sure if the button element is right for this use case? -->
        <label for="description">Description: </label>
        <textarea type="text" id="description" cols="20" rows="5">Describe your outfit here...</textarea>
        <button type="submit">Submit</button>
      </form>
    </main>
    <footer>
      <p>&copy; 2015 | <a href="http://www.keribrady.com/">Keri Brady</a>, <a href="">Ryan Raeburn</a>, <a href="http://www.katieirenereid.com/">Katie Reid</a>, &amp; <a href="">Callum Song</a></p>
    </footer>
  </body>
</html>
